#parrafo {
  background-color: #7d86a1;
}
.p1{background-color:saddlebrown ;}
  

}
img {max-width: 100%
    ;}
.padre{background-color: rgb(161, 153, 153);
position: relative;}

hijo1 { background: rgb(4, 56, 39);
