h1 {
  font-size: 100px;
}
h2 {
  background-color: rgb(107, 16, 16);
}
article {
  background-color: rgb(107, 16, 16);
}
article {
  color: chocolate;
}
footer {
  color: coral;
}
#id="sectioninicio" >;
